@use "../../styles/variables" as v;

.about-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about-us .container {
  display: flex;
  gap: var(--main--gap);
  align-items: start;
}
  .about-us .box .title > p {
    transform: none;
  }

.about-us .box .btn div {
  min-width: 200px;
}
.about-us .box .box-text-heading-container {
  flex-direction: column;
}

.about-us .box h2 {
  font-size: var(--font-size-xxl-alt); 
}



@media (max-width: v.$width-xl) {
  .about-us .container {
    flex-direction: column;
    gap: 80px;
  }
  .about-us .box {
    width: 100%;
  }

}

@media (max-width: v.$width-sm) {
  .about-us {
    padding-top: var(--padding-top-sm);
    padding-left: var(--pading-right-sm);
    padding-right: var(--pading-left-sm);
    padding-bottom: var 30px (--padding-bottom-sm);
  }



  .about-us .box .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .about-us .container {
    flex-direction: column;
    align-items: normal;
  }

}
