@use "../../styles/variables" as v;

.about-us {
  @include v.container-box;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about-us .container {
  display: flex;
  gap: var(--main--gap);
  align-items: start;
}

// @media (max-width: v.$width-md) {
//   .about-us .box  {
//     width: 100%;
//   }
// }

.about-us .box .title > p {
  transform: none;
}

.about-us .box .box-text-heading-container {
  flex-direction: column;
  @media (max-width: v.$width-md) {
    width: 100%;
  }
}

// .about-us .box h2 {
//   font-size: var(--font-size-xxl-alt);
// }

@media (max-width: v.$width-xl) {
  .about-us .container {
    flex-direction: column;
    gap: 80px;
  }
  .about-us .box {
    width: 100%;
  }
}

@media (max-width: v.$width-sm) {

  .about-us .box .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .about-us .container {
    flex-direction: column;
    align-items: normal;
  }
}
