@use "../../styles/variables" as v;

.process {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  position: relative;
}

.process .container {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--main--gap);
}
.process .container .box {
  width: 40%;
  margin-bottom: var(--main-padding-bottom);
  position: sticky;
  top: 100px;
  & h2 {
    font-size: var(--font-size-xl);
  }
}
.process .box .box-text-heading-container {
  flex-direction: column;
}

@media (max-width: v.$width-xl) {
  .process .container {
    flex-direction: column;
    gap: var(--gap-md);
  }
  .process .container .box {
    width: 100%;
    position: static;
  }
}

@media (max-width: v.$width-sm) {
  .process {
    padding-top: var(--padding-top-sm);
    padding-left: var(--pading-right-sm);
    padding-right: var(--pading-left-sm);
    padding-bottom: var(--padding-bottom-sm);
  }
  .process .container {
    gap: var(--gap-md);
  }
}
