@use "../../styles/variables" as v;

.process {
  @include v.container-box;
}

.process .container {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--main--gap);
}
.process .container .box {
  width: 40%;
  margin-bottom: var(--main-padding-bottom);
  position: sticky;
  top: 100px;
}
.process .box .box-text-heading-container {
  flex-direction: column;
}

@media (max-width: v.$width-xl) {
  .process .container {
    flex-direction: column;
    gap: var(--gap-md);
  }
  .process .container .box {
    width: 100%;
    position: static;
  }
}

@media (max-width: v.$width-sm) {
  .process {
    @include v.container-box-sm;
    
  }
  .process .container {
    gap: var(--gap-md);
  }
}
