@use "../../styles/variables" as v;

.shopping-cart {
  @include v.container-box;


  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--main--gap);

    .shopping-cart__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: var(--main-padding-bottom);
      

      @media (max-width: v.$width-xl) {
        flex-direction: column;
      }
      @media (max-width: v.$width-md) {
        margin-bottom: var(--main-margin-sm);
      }
      

      :global(.title) {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        

        & > div {
          display: flex;
          align-items: start;
          gap: var(--gap-xs);
        }

        h2 {
          text-align: center;
          display: flex;
          gap: 10px;
          font-weight: var(--main-font-whight);
          font-size: var(--font-size-xl);
        }

        & > p {
          font-size: var(--font-size-md-alt);
          color: var(--main-title-color);
          font-weight: var(--main-font-whight);
          transform: translateX(35px);
        }
      }

      :global(.btn .btn-border)  {
        width: 155px;
      }
    }

    .shopping-cart__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 2rem;

      @media (max-width: v.$width-xl) {
        grid-template-columns: repeat(2, minmax(49%, 1fr));
      }

      @media (max-width: v.$width-sm) {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      }

      .image-card {
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateY(100px);
        transition: all 0.8s ease-out;

        &:global(.is-visible) {
          opacity: 1;
          transform: translateY(0);
        }

        // إضافة الكلاس المفقود ليتعرف عليه الموديول
        .visible-row {
           // يمكنك إضافة تنسيقات خاصة هنا إذا أردت
        }

        & > a {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          height: 100%;
          transition: var(--main-transition);
          position: relative;
          border: 1px dashed transparent;
          transition: var(--main-transition);
          color: var(--text-color-dark);

          &:hover {
            .card {border: 1px dashed var(--btn-color); }
            .image img { transform: scale(1); }
          }
          

          @media (max-width: v.$width-xl) {
            padding: 20px;
            flex-direction: column !important;
            border: 1px dashed transparent;
            box-shadow: 0 2px 10px 0 rgb(0 0 0 / 19%);
            border-radius: 20px;
            &:hover {
              .card {border: none;}
              border-color: var(--btn-color);

            }
          }

          @media (max-width: v.$width-sm) {
            padding: 5px;
          }
        }

        .card {
          width: 30%;
          box-shadow: 0 2px 10px 0 rgb(0 0 0 / 19%);
          border-radius: 20px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border: 1px dashed transparent;
          transition: var(--main-transition);
          height: 100%;

          @media (max-width: v.$width-xl) {
            width: 100%;
            box-shadow: none;
            border: none;
            height: max-content;
          }

          .title {
            @media (max-width: v.$width-xl) {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            h3 {
              font-size: var(--font-size-xl-alt);
              color: var(--text-color-dark);
              margin: 0;
            }
            p { 
              margin-top: 20px; 
              @include v.font-size-desc;
              @media (max-width: v.$width-xl) { 
                margin: 0;
                 font-size: var(--font-size-lg-alt);
                 color: var(--text-color-dark)
                 }
            }
          }

          .description {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: column;

            @media (max-width: v.$width-xl) { display: none; }

            & > div {
              display: flex;
              width: 100%;
              align-items: center;
              gap: 6px;
              
              p { color: var(--main-title-color); font-weight: var(--font-weight-bold); }
              span { color: var(--text-color-dark); font-weight: var(--font-weight-bold); }

              .dadashed {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #bfbfbf;
              }
            }
          }
        }

        .image {
          width: 70%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;

          @media (max-width: v.$width-xl) { width: 100%; }

          img {
            width: 100%;
            height: 100%;
            transition: var(--main-transition);
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
