/* SCSS Variables for breakpoints */
$width-sm: 772px;
$width-md: 991px;
$width-xl: 1440px;

@mixin flex-center-lg {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

@mixin flex-center-mian {
  display: flex;
  flex-direction: column;
  gap: var(--main--gap);
}
@mixin flex-center-md {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}
@mixin flex-center-sm {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

@mixin flex-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin container-box {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  position: relative;
}

// font

//title

@mixin font-size-xl {
  font-size: var(--font-size-xl);
  font-weight: var(--main-font-whight);
  color: var(--main-text-color);
}
@mixin font-size-md {
  font-size: var(--font-size-lg-alt);
  font-weight: var(--main-font-whight);
  color: var(--main-text-color);
}

// desc

@mixin font-size-desc {
  font-size: var(--font-size-md-alt);
  font-weight: var(--font-weight-semibold);
  color: var(--main-title-color);
}
@mixin font-size-desc-sm {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--main-title-color);
}


%flex-gap-card-main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
}