.about-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about-us .container {
  display: flex;
  gap: 40px;
  align-items: start;
}

.about-us .container .tamblate-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.about-us .tamblate-card .sticky-wrapper {
  display: flex;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
  will-change: transform;
}

.about-us .tamblate-card .grid-card {
  width: 400px;
  height: 250px;
  border-radius: 16px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid white;
}

.about-us .tamblate-card .grid-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 48px;
  font-weight: 700;
  color: var(--main-text-color);
}
.about-us .tamblate-card .grid-card .content > span {
  color: var(--text-color-grey);
  font-size: var(--main-font-size-L);
  font-weight: var(--main-font-whight);
}

.number {
  font-size: 48px;
  font-weight: 700;
  color: var(--main-text-color);
}

.number span {
  color: var(--btn-color);
  margin-left: 4px;
}

.label {
  color: var(--text-color-grey);
  font-size: var(--main-font-size-L);
  font-weight: var(--main-font-whight);
}

.about-us .tamblate-card .card-1 {
  background-color: #d8d8d8;
}
.about-us .tamblate-card .card-3 {
  background-color: #b8b8b8;
}
.about-us .tamblate-card .card-5 {
  background-color: #c8c8c8;
}
.about-us .tamblate-card .card-7 {
  background-color: #a8a8a8;
}

@media (max-width: 1440px) {
  .about-us .container {
    flex-direction: column;
    gap: 80px;
  }
  .about-us .box {
    width: 100%;
  }
  .about-us .container .tamblate-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about-us {
    margin-left: var(--main-margin-left);
    margin-right: var(--main-margin-right);
  }
  
  .about-us .container .tamblate-card {
    width: 100%;
  }
  .about-us .box h2 {
    font-size: 30px;
  }
  .about-us .box > p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .about-us .box .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .about-us .container {
    flex-direction: column;
    align-items: normal;
  }
}
