@use "../../styles/variables" as v;

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--main--gap);
}

.box h2 {
  font-size: var(--font-size-xxl-alt);
  margin: 0;
  color: var(--main-text-color);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box .text-desc > p {
  font-size: var(--main-font-size-L);
  width: 60%;
  line-height: 1.5;
  font-weight: var(--main-font-whight);
  color: var(--main-title-color);
  margin-bottom: var(--margin-lg);
}

.box .text-desc > p .highlight-text {
  color: var(--white-color);
}
.box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .title div {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}
.title div p {
  font-size: var(--font-size-md-alt);
  font-weight: var(--main-font-whight);
}
.title div p:first-child {
  color: var(--main-title-color);
}
.title div p:nth-child(2) {
  color: var(--btn-color);
}
.title div p:nth-child(3) {
  color: var(--main-text-color);
}
.title > p {
  font-size: var(--font-size-md-alt);
  color: var(--main-title-color);
  font-weight: var(--main-font-whight);
  transform: translateX(40px);
}

.box .btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.box .btn div {
  width: min-content;
  min-width: 150px;
}
.box .btn .btn-border {
  margin: 0 5px;
  height: 1px;
  background-color: var(--main-text-color);
  position: relative;
}
.box .btn .btn-border::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 0px;
  background: var(--btn-color);
  z-index: 1;
  border-radius: 2px;
  transition: var(--main-transition);
}

.box .btn a {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
  transition: var(--main-transition);
  width: 100%;
}
.box .btn a p {
  font-size: var(--main-font-size-L);
  font-weight: var(--font-weight-semibold);
  color: var(--main-text-color);
  width: 100%;
}

@media (max-width: v.$width-sm) {
  .box {
    flex-direction: column !important;
    width: 100% !important;
  }

  .box h2 {
    font-size: var(--main-font-size-L);
  }

  .box .btn a p {
    font-size: var(--font-size-md-alt);
  }
.box .text-desc > p  {
  width: 80%;
  font-size: var(--font-size-sm);
        margin-bottom: var(--main-margin-sm);
}
}
.box .btn a svg {
  width: 25px;
  height: 25px;
  transition: transform var(--main-transition);
  color: var(--main-text-color);
}

.box .btn div:hover a {
  transform: translateY(-4px);
}
.box .btn div:hover .btn-border::before {
  width: 100%;
}
.box .btn div:hover a svg {
  transform: rotate(45deg);
}

@media (max-width: v.$width-xl) {
   .box {
    width: 100%;
  }
}
@media (max-width: v.$width-sm) {
  .box {
    width: 100%;
  }
}
