@use "/src/styles/variables" as v;

.footer {
  @include v.container-box;
  background-color: var(--selction-background-color);
  .container {
    @include v.flex-center-lg;
    .top {
      display: flex;
      align-items: end;
      justify-content: space-between;
    }
    .content {
      @include v.flex-box-normal;
      --padding-contect: 30px;
      --border-radius-contect: 24px;
      gap: 10px;
      .about-my {
        width: 50%;
        @include v.flex-card-gap;
        border: 1px dashed var(--border-dashad-color);
        border-radius: var(--border-radius-contect);
        padding: var(--padding-contect);
        .top-card {
          @include v.flex-center-mian;
          & > p {
            font-size: var(--font-size-xxl-alt-md);
            color: var(--main-title-color);
            width: 90%;
            span {
              color: var(--white-color);
            }
          }
          .card-image {
            display: flex;
            gap: 10px;
            .image {
              width: 60px;
              height: 50px;
              overflow: hidden;
              border-radius: 10px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .box-desc {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              font-size: var(--main-font-size-m);
              color: var(--white-color);
            }
          }
        }
        .bottom-card {
          @include v.flex-center-md;
          .phone-top {
            @include v.hover-transform;
          }
          .email-bottom {
            @include v.hover-transform;
            p {
              color: var(--white-color);
              font-size: var(--font-size-xxl-alt-md);
              font-weight: var(--main-font-whight);
              &::before {
                content: "hello@avera.com";
              }
            }
          }
        }
      }

      .form {
        background-color: #000;
        border-radius: var(--border-radius-contect);
        padding: var(--padding-contect);
        @include v.flex-center-md;
        gap: 25px;
        width: 50%;

        .input-box {
          width: 100%;
          border-bottom: 1px dashed var(--main-title-color);
          padding: 10px 0;

          :global(#form-labal) {
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: 20px;
            color: var(--white-color);
            line-height: 2;
            border-radius: 0;

            ::after::placeholder {
              content: "";
              color: aliceblue;
            }
          }

          :global(#text-area) {
            border: none;
            outline: none;
            background-color: transparent;
            width: 100%;
            min-height: calc(300px - 100px);
            color: var(--white-color);
            scrollbar-width: thin;
            scrollbar-color: transparent transparent;
            resize: vertical;
            font-size: 20px;
            font-weight: var(--font-weight-semibold);
          }
        }
      }
    }
  }
}

.alt-footer {
  padding: 40px  30px;
  background-color: #212121;
  width: 100%;
  display: flex;
  gap: 200px;
  --width-sction-1: 500px;
  
  .descrption-footer {
    @include v.flex-center-md;
    gap: 40px;
    width: var(--width-sction-1);
    .top-footer {
      @include v.flex-center-md;
      h3 {
        color: var(--white-color);
        font-size: var(--font-size-xxl-alt);
      }
      p {
        color: var(--main-title-color);
        line-height: 1.3;
        font-size: var(--font-size-md-alt);
      }
    }

    .media-bottom {
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        color: var(--white-color);
      }
    }
  }

  .wedght-footer {
    display: flex;
    justify-content: space-between;
    gap: var(--main--gap);
    width: calc(100% - var(--width-sction-1));
    ul {
      flex: 1;
      @include v.flex-center-md;
      li {
        font-size: var(--font-size-md-alt);
        font-weight: var(--font-weight-semibold);
        a {
          color: var(--white-color);
        }
      }
      .tilte-footer {
        color: var(--main-title-color);
        font-size: var(--font-size-md-alt);
        text-transform: capitalize;
      }
    }
  }
}
