@use "../../styles/variables" as v;

.our-theam {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  position: relative;
  background-color: var(--selction-background-color);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    @include v.reveal-on-scroll;

    :global(.box) {
      width: 100%;
      :global(.title) div p:nth-child(3) {
        color: var(--white-color);
      }
      :global(.box-text-heading-container) {
        width: 100%;
      }
      :global(.text-desc) > p {
        margin: 0;
        font-size: var(--font-size-xxl-heading);
        width: 100%;
        line-height: 1.1;
        display: flex;
        flex-wrap: wrap;
      }
      @media (max-width: v.$width-xl) {
        :global(.text-desc) > p{
            font-size: var(--font-size-xxl-card);
        }
      }
      @media (max-width: v.$width-sm) {
        :global(.text-desc) > p{
            font-size: var(--font-size-lg-alt);
        }
      }
    }

    :global(.tamblate-card) {
      width: 100%;
    }
    .text-descrption {
      display: flex;
      flex-direction: column;
      gap: 40px;
      & > p:first-child {
        width: 600px;
        font-size: var(--font-size-lg-alt, 26px);
        color: var(--white-color);
        font-weight: var(--font-weight-semibold);
        @media (max-width: v.$width-sm) {
            width: 100%;
            font-size: var(--font-size-md-alt);

        }
      }
    }
  }
}
