@use "../../styles/variables" as v;

.services {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--selction-background-color);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
}
@media (max-width: v.$width-sm) {
  .services {
    margin-left: var(--main-margin-left);
    margin-right: var(--main-margin-right);
    padding-left: 0;
    padding-right: 0;
  }
}
.services .container {
  display: flex;
  flex-direction: column;
  gap: var(--main--gap);
}

.services .container .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: var(--main-padding-bottom);
}

.services .container .box .title {
  flex-direction: column;
}
.services .container .title > p {
  transform: translateX(12px);
}


.services .container .title div p:nth-child(3) {
  color: var(--white-color);
}

.services .container .box > p {
  margin-bottom: 0;
}

.services .container .box .btn {
  transform: translateY(30px);
  
}
.services .container .box .btn a p {
  color: var(--white-color);
}
.services .container .box .btn a svg {
  color: var(--white-color);
  transform: rotate(90deg);
}
.services .container .box .btn .btn-border {
 width: 190px;
}

.services .container .box .btn div:hover a svg {
  transform: rotate(135deg);
}
