@use "../../styles/variables" as v;
.studio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
}

.studio .container {
  display: flex;
  flex-direction: column;
  // justify-content: s;
  gap: 50px;
}

.studio .container .text-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studio .container .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--main--gap);
}

.studio .container .text-box h1 {
  font-size: var(--font-size-xxl);
  margin: 0;
  font-weight: var(--font-weight-normal);
}
.studio .container .text-box div {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
}
.studio .container .text-box p {
  font-size: var(--main-font-size-L);

  line-height: 1.7;
  font-weight: var(--font-weight-bold);
  color: var(--main-text-color);
  text-indent: 40px;
}
.studio .container .text-box p span {
  color: var(--text-color-grey);
}
.studio .container .video {
  position: relative;
  z-index: 0;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  max-width: 100%;
  min-width: auto;
  height: 500px;
}
.studio .container .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/avtar-p.avif");
  background-size: cover;
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}
.studio .container .video svg {
  transform: translate(-560px, -350px);
  width: 80px;
  height: 80px;
  color: var(--btn-color);
  opacity: 0;
  transition: var(--main-transition);
}
.studio .container .video video {
  opacity: 0;
  visibility: hidden;
}

.studio .container .box {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: var(--gap-xl);
}
.studio .container .box .template-1 {
  display: none;
}

.studio .container .box .template-1 span {
  color: var(--text-color-grey);
  font-weight: var(--main-font-whight);
  font-size: var(--font-size-md-alt);
  letter-spacing: -1px;
}
.studio .container .box .template-1 p {
  font-size: var(--font-size-md-alt);
  font-weight: var(--main-font-whight);
  color: var(--text-color-grey-800);
}

.studio .container .box .template-2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.studio .container .box .template-2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studio .container .box .template-2 div p {
  font-size: var(--font-size-sm);
  font-weight: var(--main-font-whight);
  color: var(--main-text-color);
}

.studio .container .box .template-2 div .dash {
  width: 15px;
  height: 2px;
  background-color: var(--main-title-color);
  border-radius: 2px;
}

.studio .container .box .template-3 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.studio .container .box .template-3 .dashad {
  height: 3px;
  border-top: 1px dashed var(--text-color-grey);
  margin: 20px 0;
}
.studio .container .box .template-3 .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studio .container .box .template-3 .total div {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}
.studio .container .box .template-3 .total .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #12b33f;
}
.studio .container .box .template-3 .total div > p {
  font-size: var(--font-size-md-alt);
  font-weight: var(--main-font-whight);
  color: var(--main-text-color);
}
.studio .container .box .template-3 .total > span {
  font-size: var(--font-size-md-alt);
  font-weight: var(--main-font-whight);
  color: var(--main-title-color);
}

.studio .container .box .template-4 {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
}

.studio .container .video:hover::before {
  filter: blur(5px);
}
.studio .container .video:hover svg {
  opacity: 1;
  cursor: pointer;
}
/* 991 */

@media (max-width: v.$width-xl) {
  .studio {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    padding-left: var(--main-padding-left);
    padding-right: var(--main-padding-right);
  }
  .studio .container .text-box {
    flex-direction: column;
    align-items: start;
  }
  .studio .container .image {
    flex-direction: column;
    align-items: start;
  }
  .studio .container .image .video {
    width: 100%;
    height: 600px;
  }
  .studio .container .box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    flex: 1;
    gap: var(--main--gap);
  }
  .studio .container .box .template-1 {
    display: block;
  }
}

@media (max-width: v.$width-sm) {
  .studio {
    padding-top: var(--padding-top-sm);
    padding-left: var(--pading-right-sm);
    padding-right: var(--pading-left-sm);
    padding-bottom: var(--padding-bottom-sm);
  }
  .studio .container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--gap-sm);
  }
  .studio .container .text-box h1 {
    font-size: var(--font-size-xl);
    display: inline-block;
  }
  .studio .container .text-box div {
    width: 100%;
  }
  .studio .container .text-box p {
    text-indent: 10px;
    text-shadow: 0 1px #ffff;
    font-size: var(--main-font-size);
  }

  .studio .container .image .video {
    width: 410px;
    height: 300px;
  }
  .studio .container .video::before {
    height: 100%;
  }
  .studio .container .box {
    grid-template-columns: 1fr;
  }

  .studio .container .video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .studio .container .box .template-2 div p {
    padding-left: 5px;
    font-size: var(--font-size-sm);
    color: var(--main-text-color);
    font-weight: var(--font-weight-bold);
  }

  .studio .container .box .template-3 .total div > p {
    font-size: var(--main-font-size);
  }
  .studio .container .box .template-3 .total > span {
    font-size: 14px;
    color: #888888;
  }
}
