.studio {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.studio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
  gap: 50px;  

}

.studio .container .text-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: flex;
  flex-direction: row;
  gap: 40px; */
}

.studio .container .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.studio .container .text-box h1 {
  font-size: 110px;
  margin: 0;
  font-weight: 400;
}
.studio .container .text-box p {
  font-size: var(--main-font-size-L);
  width: 445px;
  height: 100%;
  line-height: 1.7;
  font-weight: 700;
  color: var(--main-text-color);
  text-indent: 40px;
}
.studio .container .text-box p span {
  color: var(--text-color-grey);
}
.studio .container .video {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  max-width: 100%;
  min-width: auto;
  height: 500px;
}
.studio .container .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/avtar-p.avif");
  background-size: cover;
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}
.studio .container .video svg {
  transform: translate(-560px, -350px);
  width: 80px;
  height: 80px;
  color: var(--btn-color);
  opacity: 0;
  transition: var(--main-transition);
}
.studio .container .video video {
  opacity: 0;
  visibility: hidden;
}

.studio .container .box {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 60px;
 
}
.studio .container .box .template-1 {
  display: none;
}

.studio .container .box .template-1 span {
  color: var(--text-color-grey);
  font-weight: var(--main-font-whight);
  font-size: 18px;
  letter-spacing: -1px;
}
.studio .container .box .template-1 p {
  font-size: var(--main-font-size-m);
  font-weight: var(--main-font-whight);
  color: var(--text-color-grey-800);
}

.studio .container .box .template-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.studio .container .box .template-2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studio .container .box .template-2 div p,
.studio .container .box .template-2 div span {
  font-size: var(--main-font-size-m);
  /* font-weight: var(--main-font-whight); */
}

.studio .container .box .template-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.studio .container .box .template-3 .rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.studio .container .box .template-3 .rate div {
  display: flex;
  align-items: center;
}
.studio .container .box .template-3 .rate svg {
  width: 18px;
  height: 18px;
}
.studio .container .box .template-3 .rate div span {
  padding-left: 5px;
  font-size: var(--main-font-size-m);
  font-weight: bold;
}
.studio .container .box .template-3 .rate p {
  font-size: var(--main-font-size-L);
  color: var(--text-color-grey);
  width: 50%;
}
.studio .container .box .template-3 .rate p span {
  color: var(--main-text-color);
}
.studio .container .box .template-3 .dashad {
  height: 3px;
  border-top: 1px dashed var(--text-color-grey);
  margin: 20px 0;
}
.studio .container .box .template-3 .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studio .container .box .template-3 .total div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.studio .container .box .template-3 .total .active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #12b33f;
}
.studio .container .box .template-3 .total div > p {
  font-size: var(--main-font-size-m);
  font-weight: var(--main-font-whight);
  color: var(--text-color-grey-800);
}
.studio .container .box .template-3 .total > span {
  font-size: var(--main-font-size-m);
  font-weight: var(--main-font-whight);
  color: var(--main-title-color);
}

.studio .container .box .template-4 {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
}
.studio .container .box .template-4 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 5px 5px;
  background-color: var(--btn-color);
  font-size: var(--main-font-size-L);
  font-weight: var(--main-font-whight);
  color: white;
  border-radius: 20px;
  border: 1px dashed transparent;
  transition: var(--main-transition);

}
.studio .container .box .template-4 a .start {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.studio .container .box .template-4 a .start p {
  text-shadow: 2px 2px 4px #888888;
  position: relative;
  transition: var(--main-transition);
}
.studio .container .box .template-4 a .start p::before {
  content: "Start a Project";
  position: absolute;
  color: var(--main-text-color);
  text-shadow: 0 0 black;
  transform: translateY(40px);
}

.studio .container .box .template-4 a .end {
  background-color: white;
  color: var(--btn-color);
  width: 65px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.studio .container .box .template-4 a .end svg {
  width: 30px;
  height: 30px;
  transition: var(--main-transition);
}

/* Hover */

.studio .container .video:hover::before {
  filter: blur(5px);
}
.studio .container .video:hover svg {
  opacity: 1;
  cursor: pointer;
}
.studio .container .box .template-4 a:hover{
  background-color: white;
  border-color: var(--btn-color);
}


.studio .container .box .template-4 a:hover .start p {
  transform: translateY(-40px);
}

.studio .container .box .template-4 a:hover .end svg {
  transform: rotate(45deg);
}
/* 991 */

@media (max-width: 1440px) {
  .studio .container .text-box{
    flex-direction: column;
    align-items: start;
  }
  .studio .container .image{
    flex-direction: column;
    align-items: start;
  }
  .studio .container .image .video{
    width: 100%;
    height: 600px;
  }
  .studio .container .box{
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
    flex: 1;
    gap: 40px; 
  }
  .studio .container .box .template-1{
    display: block;
  }
  

}







@media (max-width: 768px) {
  
  .studio{
    margin-left: var(--main-margin-left);
    margin-right: var(--main-margin-right);
  }
  .studio .container .text-box h1 {
    font-size: 60px;
  }
  .studio .container .text-box p {
            width: 100%;
        text-indent: 40px;
        font-size: var(--main-font-size-m);
        text-shadow: 0 1px #ffff;
  }
  .studio .container .box {
    grid-template-columns: 1fr;
  }
  .studio .container .video{
    height: 300px;
  }

  .studio .container .video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .studio .container .box .template-2 div p{
    font-size: var(--main-font-size);
  }
  .studio .container .box .template-3 .rate p{
    font-size: var(--main-font-size);
  }
  .studio .container .box .template-3 .total div > p{
    font-size: var(--main-font-size);
  }
  .studio .container .box .template-3 .total > span{
    font-size: 14px;
    color: #888888;
  }
  .studio .container .box .template-4 a .start{
    width: 150px;
  }
  .studio .container .box .template-4 a .end{
    width: 50px;
  }
  .studio .container .box .template-4 a .end svg{
    width: 20px;
    height: 20px;
  }
  .studio .container .box .template-4 a{
    height: 50px;
  }
  .studio .container .box .template-4 a .start p{
    font-size: 18px;
    letter-spacing: 1px;
  }
}
