.studio {
  margin-top: var(--main-margin-top);
  margin-bottom: var(--main-margin-bottom);
}
.studio .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.studio .container .text-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.studio .container .text-box h1 {
  font-size: 110px;
  margin: 0;
  font-weight: 400;
}
.studio .container .text-box p {
  font-size: 28px;
  width: 50%;
  height: 100%;
  line-height: 1.7;
  font-weight: 700;
  color: var(--main-text-color);
  text-indent: 120px;
}
.studio .container .text-box p span{
    color: var(--text-color-grey);
}
.studio .container .video {
width: 100%;
  position: relative;
  z-index: 0;
  border-radius: 40px;
  overflow: hidden;

}
.studio .container .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/avtar-p.avif");
  background-size: cover;
  transition: filter 0.3s ease-in-out;
  z-index: -1;
}
.studio .container .video svg{
    transform: translate(-560px, -350px);
    width: 80px;
    height: 80px;
    color: var(--btn-color);
    opacity: 0;
    transition: var(--main-transition);

}
.studio .container .video video {
  opacity: 0;
  visibility: hidden;
}

.studio .container .box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 40px;
}


.studio .container .box .template-1 span{
    color: var(--text-color-grey);
    font-weight: var(--main-font-whight);
    font-size: 18px;
    letter-spacing: -1px;
}
.studio .container .box .template-1 p{
  font-size: var(--main-font-size-m);
  font-weight: var(--main-font-whight);
  color: var(--main-text-color);
}

/* Hover */

.studio .container .video:hover::before {
  filter: blur(5px);
}
.studio .container .video:hover svg{
    opacity: 1;
    cursor: pointer;
}
