.testimonials {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);

    .box {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .title {
        flex-direction: column;
        align-items: start;
      }

      .btn div {
        min-width: 200px;
      }
    }

    .testimonials_card {
      display: flex;
      align-items: center;
      gap: var(--gap-sm);

      .testimonials_card_item_1 {
        flex-direction: column;
        display: inherit;
        gap: 340px;
        width: 500px;
        padding: 25px;
        border: 1px dashed #666;
        border-radius: 16px;

        > p {
          font-size: var(--font-size-md-alt);
          color: var(--main-title-color);
          font-weight: var(--font-weight-semibold);
          line-height: 1.1;
        }

        .image_container {
          display: flex;
          position: relative;
          align-items: center;
          gap: var(--gap-sm);

          > div {
            display: flex;
            position: relative;
          }

          .rate {
            width: 50%;
            position: absolute;
            right: 70px;
            bottom: 5px;
            gap: var(--gap-xs);
          }
        }

        .testimoniles_image {
          position: relative;
          bottom: 5px;
          border: 1px solid var(--white-color);
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 15px;

          img {
            width: 100%;
            height: 100%;
          }

          &:nth-child(2) {
            position: absolute;
            left: 30px;
          }
          &:nth-child(3) {
            position: absolute;
            left: 50px;
          }
          &:nth-child(4) {
            position: absolute;
            left: 70px;
          }
          &:nth-child(5) {
            position: absolute;
            left: 90px;
            background-color: var(--main-bg-color);
            border-width: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            > p {
              font-size: var(--font-size-sm);
              font-weight: var(--font-weight-bold);
              color: var(--main-text-color);
            }
          }
        }
      }
      .card-item {
        width: 70%;
      }

      .card-item .text-box {
        gap: 200px;
      }
    }
  }
}
