@use "../../styles/variables" as v;

.why-us {
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  position: relative;
  background-color: white;
}

.why-us .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.why-us .box {
    width: 100%;
}

.why-us  .box .title {
    flex-direction: column;
    align-items: start;
}

.why-us .box .text-desc > p {
    width: 100%;
    font-size: var(--font-size-xxl-card);
    letter-spacing: -1px;
    @media (max-width: v.$width-xl) {
        font-size: var(--font-size-xxl-alt);
    }
    @media (max-width: v.$width-sm) {
        font-size: var(--font-size-lg-alt);
    }
}

.why-us .box .text-desc > p .highlight-text  {
    color: var(--main-text-color);
}
.why-us .box .text-desc > p > span {
   margin-right: 10px;
}

.why-us .tamblate-card {
    width: 100%;
}
