@use "../../../styles/variables" as v;

.btn-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Default (full) */
  height: 65px;
  padding: 5px 5px;
  background-color: var(--btn-color);
  font-size: var(--main-font-size-L);
  font-weight: var(--main-font-whight);
  color: var(--white-color);
  border-radius: var(--border-radius-lg);
  border: 1px dashed transparent;
  transition: var(--main-transition);
  

  &.full {
    width: 100%;
  }
  &.md {
    width: 350px;
    padding-left: 15px;
    @media (max-width: v.$width-sm) {
      width: 100%;
    }
    .start {
      width: max-content;
    }
    .end {
      width: 60px;
      height: 55px;
      svg {
        width: 25px;
      }
    }
  }
  &.sm {
    width: max-content;
    min-width: 220px;
    padding-left: 10px;
    .start {
      width: max-content;
    }
    .end {
      width: 40px;
      height: 35px;
      svg {
        width: 20px;
      }
    }
  }

  &.defulet {
    background-color: var(--btn-color);
  }
  &.white {
    background-color: var(--white-color);
    color: var(--main-text-color);
    .start {
      p {
        text-shadow: 0 2px white;
        &::before {
          color: var(--white-color);
          text-shadow: 0 0 white;
        }
      }
    }
    .end {
      background-color: var(--main-text-color);
      svg {
        color: var(--white-color);
      }
    }
    &:hover {
      background-color: var(--main-text-color);
      border-color: var(--white-color);
    }
  }
  &.black {
    background-color: var(--main-text-color);
    color: var(--white-color);
    .start {
      color: var(--white-color);
    }
    .end {
      background-color: var(--white-color);
      svg {
        color: var(--main-text-color);
      }
    }
    &:hover {
      background-color: var(--white-color);
      border-color: var(--main-text-color);
    }

  }

  .start {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(20px);
    position: relative;
    overflow: hidden;
    p {
      text-shadow: 2px 2px 4px #888888;
      position: relative;
      transition: var(--main-transition);
      &::before {
        content: attr(data-text);
        position: absolute;
        color: var(--main-text-color);
        text-shadow: 0 0 black;
        transform: translateY(40px);
      }
    }
  }
  .end {
    background-color: var(--white-color);
    color: var(--btn-color);
    width: 65px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-sm);
    svg {
      width: 30px;
      height: 30px;
      transition: var(--main-transition);
    }
  }

  &:hover {
    background-color: var(--white-color);
    border-color: var(--btn-color);
    .start p {
      transform: translateY(-40px);
    }
    .end svg {
      transform: rotate(45deg);
    }
  }
}

@media (max-width: v.$width-sm) {
  a {
    height: 50px;
    .start {
      width: 150px;
      p {
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
    .end {
      width: 50px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
