@use "./styles/variables" as v;
@use "./componints/scss/Button.scss";
@use "./componints/scss/Why-us.scss";
@use "./componints/scss/About-us.scss";
@use "./componints/scss/Process.scss";
@use "./componints/scss/ProcessList.scss";
@use "./componints/scss/Services.scss";
@use "./componints/scss/studio.scss";
@use "./componints/scss/Testimonials.scss";
@use "./componints/scss/wedght.scss";
@use "./componints/scss/box.scss";

.app {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  min-height: 100vh;
  position: relative;
  padding: 40px 0 0;
  z-index: 1;
}
.app::before {
  content: "";
  // background-color: #dedede;
  position: absolute;
  top: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
}

/* ======================== */

@media (max-width: v.$width-sm) {
  .app {
    padding: 0px;
  }
}
