/* "Geist", "Geist Placeholder", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
:root{
  --main-bg-color: #efefef;
  --main-bg-color-before: #dedede;
  --main-text-color: #212121;
  --main-transition: 0.3s;
  --main-border:1px solid  ;
  --man-hover: ;
  --main-padding-top: 140px;
  --main-padding-bottom: 100px;
  --main-font-famliy: "Geist", sans-serif;
  --main-font-famliy-bold: "Geist", sans-serif ;
  --main-font-size: 14px; 
  --main-font-size-m: 20px; 
  --main-font-size-L: 24px; 
  --main-font-whight: 600;
  --main-font-whight-bold: 900;
  --main-margin-top: 200px;
  --main-margin-bottom: 200px;
  --main-margin-left: 2px;
  --main-margin-right: 2px;
  --btn-color: #fc4040;
  --text-color-grey:#757575;
  --text-color-grey-800: #424242;
  --main-title-color: #888888;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--main-font-famliy); 
}

html{
  scroll-behavior: smooth;
}
 body{
  background: #000;
  width: 100%;
  min-height: 100vh;
 }
 ul{
  list-style: none;
  margin: 0;
 }
 a{
  text-decoration: none;
 }

